html, body {
	height: 100vh;
	overflow: hidden;
}

body {
	background-image: url("../img/bg.png");
	background-repeat: repeat;
	padding: 0;
	margin: 0;
	color: white;

	font-size: 20px;
	font-family: "Lato", sans-serif;
}

/* SCROLLBAR */
	* {
		scrollbar-width: thin;
		scrollbar-color: rgba(20, 20, 20, 1) rgba(0,0,0,0);
	}

	*::-webkit-scrollbar {
		width: 12px;
	}
	*::-webkit-scrollbar-track {
		background: rgba(100, 100, 100, 0);
	}
	*::-webkit-scrollbar-thumb {
		background-color: rgba(20, 20, 20, 1);
	}
/* END SCROLLBAR */


/* MAIN */
	main {
		display: block;
		float: left;

		width: 69.6%;
		margin: auto;
		padding-top: 0px;
		background-color: rgba(34, 34, 34, 0.825);
		text-align: center;

		height: 100%;
	}

	main video {
		width: 75%;
		height: auto;
		max-height: 66vh;
		opacity: 1;
		margin-top: 12px;
	}

	main h1 {
		margin: 6px;
		font-size: 50px;
		font-weight: bold;
	}

	main h2 {
		margin: 2px;
		font-weight: lighter;
		font-size: 28px;
	}

	main p {
		padding: 12px;
		width: 85%;
		margin: auto;
		margin-top: 12px;
	}

	main a {
		color: skyblue;
	}

	main ul {
		display: inline;
		text-align: center;
		list-style: none;
	}

	main ul li {
		display: inline;
		font-size: 32px;
		margin: 0 10px;
}
/* END MAIN */

/* NAV */
	nav {
		display: block;
		width: 30%;
		height: 98vh;
		float: left;
		text-align: center;
		overflow: auto;
	}


	nav ul {
		display: inline-block;
		text-align: center;
		list-style: none;
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
		margin-top: 4px;
		margin-bottom: 4px;
	}

	nav ul li {
		display: inline;
		text-align: center;
		margin-left: 1%;
		margin-right: 1%;
	}

	nav h1 {
		margin-top: 6px;
		margin-bottom: 12px;
	}

	nav ol {
		list-style: none;
		font-size: inherit;
		font-family: inherit;
		padding: 0px;
		margin-top: 6px;
		margin-bottom: 0px;
	}

	nav ol li {
		margin-bottom: 10px;
		font-weight: normal;
		border: 1px lightgray solid;
		padding-top: 4px;
		padding-bottom: 4px;
		border-radius: 4px;
		margin-left: 5%;
		margin-right: 5%;
		background-color: rgba(75, 75, 75, 0.7);
	}

	nav ol a {
		color: white;
		text-decoration: none;
	}

	#logo {
		width: 85%;
		height: auto;
	}

	.socialImage {
		width: 13%;
		height: auto;
	}
/* END NAV */

@media only screen and (max-width: 1050px) {

	main h1 {
		font-size: 32px;
	}

	main h2 {
		font-size: 20px;
	}

	main video {
		width: 98%;
	}

	main p {
		width: 95%;
		font-size: 16px;
	}

	main a {
		font-size: 20px;
	}

	.socialImage {
		width: 28%;
	}

	#logo {
		width: 100%;
		height: auto;
	}

	nav ol li {
		font-size: 16px;
	}

	main ul li {
		display: block;
		text-align: center;
		width: 100%;
		margin: 0;
	}
}